.contact-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal-overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(15px);
}

.modal-content {
  position: relative;
  z-index: 1;
  max-width: 597px;
  height: auto;
  width: 60vw;
  background: #fff;
  border: 5px solid #000;
padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-family: 'Space Mono', monospace;
  color: #000;
  overflow: auto;
}


.modal-content input,
.modal-content .message-modal,
.modal-content .btn-modal {
  width: min(100%, 90vw, 500px); 
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 0;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  box-sizing: border-box;
  background: #fff;
  color: #000;
}


.modal-content .message-modal {
  height: min(35vh, 150px); 
  resize: none;
}

.modal-content label {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  display: block;
  align-self: flex-start;
  font-family: 'Space Mono', monospace;
}

.modal-content .btn-modal {
  background: #D9D9D9 !important;
  color: #000 !important;
  font-size: 0.7rem !important;
  font-weight: normal !important;
  text-align: center !important;
  cursor: pointer !important;
  font-family: 'Space Mono', monospace !important;
  border-radius: 0 !important;

  &:hover {
    background: #bfbfbf !important;
  }
}
