


.single-photo-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 40px;
}

.content-header-photo {
  display: flex;
  gap: 40px; /* espace entre les 2 colonnes */
  
 
}

.photo-info {
    flex:1;
   font-family: 'Space Mono';
   font-size: 14px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end; /* pousse tout le contenu vers le bas */
}

.photo-image {
    flex: 1;
   
}
.photo-title {
    font-family: 'Space Mono';
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    font-style: italic;
    text-transform: uppercase;
}

.photo-image img {
  width: 100%;
  height: 90vh;
  object-fit: cover; /* remplit bien le bloc */
  max-height: 900px;
}


.contact-box {
  display: flex;
align-items: center;
gap: 60px;
border-top: black 1px solid;
padding-top: 63px;



}

.btn-contact-single{
    background-color: #D8D8D8;

    padding: 12px 24px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    text-align: center;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: clamp(290px, 24vw, 290px);
}

.btn-contact-single:hover {
    background-color: black;
    color: white;
    transition: ease-in-out 0.3s;
}

.contact-box p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0;
    font-weight: 300;
}


.footer-photo{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
    border-bottom: black 1px solid;
    padding-bottom: 14px;
   
}



.thumbnail-preview img{
    width: 90px;
    height: auto;
    object-fit: cover;
    
}

.thumbnail-preview {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-link:hover .thumbnail-preview {
  opacity: 1;
  visibility: visible;
}




.photo-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
 

}

.nav-link {
  display: flex;
  flex-direction: column; 
  align-items: center;
  
}



/* Section "Vous aimerez aussi" */


.similar-photos{
    margin-bottom: 70px;
    margin-top: 70px;
}


.similar-photos h2 {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  
}


.photo-grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-top: 40px;

}


.photo-grid img{
    width: 100%;
    height: 65vh;
    object-fit: cover;
    max-width: 600px;
}


/* Responsive Styles tablette et écran moyen  */

@media (max-width: 800px){
  .content-header-photo{
    flex-direction: column-reverse;
    gap: 24px;
  }
  .photo-image img{
    height: 50vh;          
    max-height: 560px;
  }
  .footer-photo{
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }
  .contact-box{
    gap: 24px;
    flex-direction: column;
  }
  .photo-grid{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  .photo-image{
    margin-bottom: 30px;
  }

  .photo-info{
    align-items: center;
    text-align: center;
  }

  .photo-navigation{
    display: none;
  }
}


